@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --grey: #484B51;
    --light-grey: #7e7e7e;
    --limegreen: #67DD72;
    --red: #FF664A;
    --yellow: #F8AE05;
    --blue: #598BEF;
    --lighter-blue: #75a3ff;
    --lighter-limegreen: #57d864;
    --blue-gradient: linear-gradient(180deg, #5496EE 0%, #41AAE3 100%);
    --grey-gradient: linear-gradient(90deg, #fcfcfc 0%, #f0f0f0 100%);
    --sky-gradient: linear-gradient(180deg, #fff 0%, #E2EDF7 100%);
    --shadow: -5px 5px 8px -2px rgba(0, 0, 0, 0.3);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
    color: var(--grey);
    background: var(--sky-gradient);
}

h1 {
    font-weight: 700;
}

nav,
header {
    text-align: left;
}

/* NAVBAR */
#navbar {
    background: transparent;
    padding: 1em 2em;
    transition: position 500ms ease-in;
}

.nav-link {
    color: white !important;
}

.nav-scrolled {
    transition: background 500ms ease-in;
    background: white !important;
    border-radius: 0 0 25px 25px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.nav-scrolled .nav-link {
    color: var(--grey) !important;
}


/* HEADER */
header {
    position: relative;
    color: white;
    background: var(--blue-gradient);
    border-radius: 0 0 15% 15%;
    margin-bottom: 10rem;
}

.hero-text {
    padding: 15rem 0 20rem 0;
}

.button {
    background-color: var(--limegreen);
    color: white;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--lighter-limegreen);
    color: white;
    transition: all 300ms ease-in-out;
}

.hero-svg-container {
    margin-top: 10rem;
    width: 250px;
    height: auto;
    bottom: -10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

:is(#alarma-svg, #baliza-svg, #ok-svg) {
    position: absolute;
    width: 80px;
    z-index: 999;
}

#alarma-svg {
    top: 10%;
    left: 35%;
    opacity: 0.5;
    animation: side_to_side 20s 1s 1;
    -moz-animation: side_to_side 20s 1s 1;
    -webkit-animation: side_to_side 20s 1s 1;
    -o-animation: side_to_side 20s 1s 1;
    animation-iteration-count: infinite;
}

#baliza-svg {
    top: 55%;
    left: 75%;
    opacity: 50%;
    animation: up_down 15s 1s 1;
    -moz-animation: up_down 15s 1s 1;
    -webkit-animation: up_down 15s 1s 1;
    -o-animation: up_down 15s 1s 1;
    animation-iteration-count: infinite;
}

#ok-svg {
    top: 70%;
    left: 20%;
    opacity: 50%;
    animation: side_to_side 3s 1s 1;
    -moz-animation: side_to_side 3s 1s 1;
    -webkit-animation: side_to_side 3s 1s 1;
    -o-animation: side_to_side 3s 1s 1;
    animation-iteration-count: infinite;
}

/* NOSOTROS */
/* #nosotros {
    padding: 3em;
    position: relative;
}

.nosotros-text {
    border: 2px solid var(--grey);
    border-radius: 25px;
} */

/* PRODUCTO */
#producto {
    padding: 0;
    margin: 5rem 0;
}

#cartas {
    background: var(--blue-gradient);
    margin-bottom: 5rem;
}

#caracteristicas {
    margin-top: 5rem;
}

.c-map-info {
    color: var(--grey);
}

.c-image img {
    width: 200px;
    display: block;
    margin: auto;
}

.cc-container {
    margin-bottom: 5rem;
}

.c-container {
    text-align: center;
    max-width: 300px;
    margin: 2rem 0;
}

.c-container h2,
.c-container p {
    color: white;
}

.c-container h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

.c-container p {
    font-size: 0.8rem;
}

.c-image {
    z-index: 2;
    position: relative;
}

.product-s1 {
    max-width: 100%;
    margin-bottom: 5rem;
    padding: 0 2rem 0 2rem;
}

.msg-alertia {
    font-weight: 700;
    margin-bottom: 3rem;
}

.msg-alertia span {
    color: var(--blue);
}

.pantallas {
    background: var(--blue-gradient);
    padding: 5em 0 3rem 0;
}

.icons-container {
    width: 6rem;
    margin: 0 auto;
}

/* CONTACTO */
#contacto {
    padding: 2rem;
    position: relative;
}

.imagenes-contacto {
    position: absolute;
    bottom: 0;
    z-index: 999;
    text-align: center;
}

.imagenes-contacto>img {
    max-width: 10rem;
}

.imagenes-contacto.img-man {
    left: 10%;
}

.imagenes-contacto.img-woman {
    right: 10%;
}

.titulo {
    position: relative;
    font-weight: 400;
}

.titulo::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 5%;
    background: var(--blue);

    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/* optional hover classes used with anmiation */
.titulo:hover:after {
    width: 10%;
    background: var(--lighter-blue);
}

.contenedor-formulario {
    background-color: #E2EDF7;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

}

.submit-button {
    border: none;
    border-radius: 5px;
    background-color: var(--limegreen);
    color: white;
    font-weight: 700;
    padding: 0.5em 2em;
    display: block;
    margin: 0 auto;
}

.contenedor-formulario {
    max-width: 100%;
    margin-bottom: 10px;
}

/* FOOTER */
#footer .container {
    background: var(--blue-gradient);
    border-radius: 25px 25px 0 0;
}


/* MEDIA QUERIES */
@media(max-width: 768px) {

    nav,
    header {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .hero-svg-container {
        width: 350px;
        bottom: -25%;
    }

    .product-s1 {
        max-width: 50%;
    }

    header {
        border-radius: 0 0 25% 25%;
        margin-bottom: 15rem;
    }
}


/* Animations */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.appear {
    opacity: 1;
}

.from-top {
    transform: translateY(-50%);
}

.from-bot {
    transform: translateY(50%);
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

:is(.from-left,
    .from-right,
    .from-top,
    .from-bot) {
    transition: all 400ms ease-in;
    opacity: 0;
}

:is(.from-left.appear,
    .from-right.appear,
    .from-top.appear,
    .from-bot.appear) {
    transform: translateX(0);
    opacity: 1;
}

/* Animation Keyframes */

@keyframes up_down {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(90%);
    }
}

@-moz-keyframes up_down {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(90%);
    }
}

@-webkit-keyframes up_down {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(90%);
    }
}

@-o-keyframes up_down {

    0% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(90%);
    }
}

@keyframes side_to_side {

    0%,
    100% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(90%);
    }
}

@-moz-keyframes side_to_side {

    0%,
    100% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(90%);
    }
}

@-webkit-keyframes side_to_side {

    0%,
    100% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(90%);
    }
}

@-o-keyframes side_to_side {

    0%,
    100% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(90%);
    }
}

@keyframes fade_in_out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes fade_in_out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in_out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes fade_in_out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}