@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --grey: #484B51;
    --light-grey: #7e7e7e;
    --limegreen: #67DD72;
    --red: #FF664A;
    --yellow: #F8AE05;
    --blue: #598BEF;
    --lighter-blue: #75a3ff;
    --lighter-limegreen: #57d864;
    --blue-gradient: linear-gradient(180deg, #5496EE 0%, #41AAE3 100%);
    --grey-gradient: linear-gradient(90deg, #fcfcfc 0%, #f0f0f0 100%);
    --sky-gradient: linear-gradient(180deg, #fff 0%, #E2EDF7 100%);
    --shadow: -5px 5px 8px -2px rgba(0, 0, 0, 0.3);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
}

nav,
header {
    text-align: left;
}

/* NAVBAR */
#navbar {
    background: transparent;
    padding: 1em 2em;
    transition: position 500ms ease-in;
}

#navbar.scrolled {
    transition: background 500ms ease-in;
    background: white !important;
    border-radius: 0 0 25px 25px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.text-grey {
    color: var(--grey);
}


/* HEADER */
header {
    position: relative;
    color: white;
    background: var(--blue-gradient);
    border-radius: 0 0 15% 15%;
}

.hero {
    padding: 8rem 0;
}

.button {
    background-color: var(--limegreen);
    color: white;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--lighter-limegreen);
    color: white;
    transition: all 300ms ease-in-out;
}

#flecha-header {
    font-size: 3rem;
}

#flecha-header:hover {
    transition: all 300ms ease-in-out;
    transform: translateX(50%);
    transform: scale(110%);
}

/* NOSOTROS */
#nosotros {
    padding: 3em;
    position: relative;
}

.nosotros-text {
    border: 2px solid var(--grey);
    border-radius: 25px;
}

/* PRODUCTO */
#producto {
    padding: 0;
    margin-bottom: 2rem;
}


/* Cartas en sección productos */

#cartas {
    background: var(--blue-gradient);
    margin-bottom: 5rem;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    margin: auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border: 4px solid white;
}


.flip-card-front .icono {
    height: auto;
    width: 150px;
}

.flip-card-front {
    color: white;
    background: var(--blue-gradient);
}

.flip-card-back {
    color: white;
}

.flip-card-back.c-red {
    background: var(--red);
}

.flip-card-back.c-yellow {
    background: var(--yellow);
}

.flip-card-back.c-green {
    background: var(--limegreen);
}

.flip-card .flip-card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card .flip-card-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.c-image .cell-img {
    max-width: 35%;
    display: block;
    margin: auto;
}

.c-image .desktop-img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.cc-container {
    margin-bottom: 5rem;
}

.c-container {
    padding: 2rem 3rem;
    text-align: center;
}

.c-container h2{
    color: var(--grey);
}

.c-container p{
    color: var(--light-grey);
}

.c-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}



.c-image {
    z-index: 2;
    position: relative;
}

/* Fin cartas */


.msg-alertia {
    font-weight: 700;
}

.msg-alertia span {
    color: var(--blue);
}


/* CONTACTO */
#contacto {
    padding: 2rem;
    position: relative;
}

.imagenes-contacto {
    position: absolute;
    bottom: 0;
    z-index: 999;
    text-align: center;
}

.imagenes-contacto>img {
    max-width: 10rem;
}

.imagenes-contacto.img-man {
    left: 20%;
}

.imagenes-contacto.img-woman {
    right: 20%;
}


.titulo {
    position: relative;
    font-weight: 400;
}

.titulo::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 5%;
    background: var(--blue);

    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/* optional hover classes used with anmiation */
.titulo:hover:after {
    width: 10%;
    background: var(--lighter-blue);
}

.contenedor-formulario {
    background-color: #E2EDF7;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

}

.submit-button {
    border: none;
    border-radius: 5px;
    background-color: var(--limegreen);
    color: white;
    font-weight: 700;
    padding: 0.5em 2em;
    display: block;
    margin: 0 auto;
}

.contenedor-formulario {
    max-width: 100%;
    margin-bottom: 10px;
}

/* FOOTER */
#footer .container {
    background: var(--blue-gradient);
    border-radius: 25px 25px 0 0;
}

/* CONTACT AND FOOTER CONTAINER */

#contfoot {
    background: var(--sky-gradient);
    border-radius: 50% 50% 0 0;
}

/* MEDIA QUERIES */
@media(max-width: 768px) {

    nav,
    header {
        text-align: center;

    }

    #navbar {
        transition: background 500ms ease-in;
        background: white;
        border-radius: 0 0 25px 25px;
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }
}

@media (min-width: 768px) {
    header {
        border-radius: 0 0 25% 25%;
    }
}